@font-face {
  font-family: "customFontSimple";
  src: url(../../../../assets/fonts/kidsFontSimple.ttf);
}

.customFont {
  font-family:"customFontSimple", Geneva, sans-serif;
}

.user-icon{
  background-repeat: no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
}
