<div class="flex flex-column bg-white shadow-3 br2 mv2 customFont">
  <div class="flex items-center justify-between pv1 bb b--light-gray" *ngIf="data.user.username !== null">
    <div class="flex items-center">
      <div class="user-icon br-pill mh2 ba b--white" [ngStyle]="{'background-image': 'url(' + data.user.thumbnail + ')'}"></div>
      <div class="flex flex-column">
        <div class="ttc">{{data.user.name.first}} {{data.user.name.last}}</div>
        <div class="f7 ttc gray">{{data.user.location.city}}, {{data.user.location.province}}</div>
      </div>
    </div>
    <div class="topic">{{data.whatWasTheProblem}}
    <i class="material-icons f6 icon">mood</i>
    </div>
  </div>
  <div class="flex flex-column pa2">
    <div class="flex post">
      <div>{{data.whatHappened}}</div>
    </div>
  </div>
  <div class="flex justify-between bt b--light-gray">
    <div class="flex f6 pa2 gray date">{{data.date}}</div>
    <div class="flex">
      <div class="flex items-center ph2 gray f6 bl br b--light-gray pointer">
        <i class="material-icons f6">thumb_up</i>
        <div class="pl2">{{data.likes.length}}</div>
      </div>
      <div class="flex items-center ph2 gray f6 pointer">
        <i class="material-icons f6">chat_bubble</i>
        <div class="pl2">{{data.comments.length}}</div>
      </div>
    </div>
  </div>
</div>