@font-face {
  font-family: "customFontSimple";
  src: url(../../../../assets/fonts/kidsFontSimple.ttf);
}

.customFont {
  font-family:"customFontSimple", Geneva, sans-serif;
}

.topic{
  padding-right:12px;
}

.post{
  padding-left: 5px;
}

.icon{
  padding-left: 5px;
  top: 2px;
  position: relative;
}
.date{
  padding-left:13px;
}

.user-icon{
  background-repeat: no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
}
