<div class="w-75">
  <div class="title f3">
    {{statData.name}}
  </div>
  <div class="improve-bar" *ngIf="isImprovement">
    <div [style.width]="baseWidth+'%'" class="section base">
      <span class="data-point">{{statData.min}}</span>
    </div>
    <div [style.width]="changeWidth+'%'" class="section improve">
      <span class="data-point">{{statData.before}}</span>
    </div>
    <div [style.width]="(100-changeWidth-baseWidth)+'%'" class="section remaining">
      <span class="data-point">{{statData.after}}</span>
      <span class="data-point-end" [style.left]="'calc(100% - ' + statData.max.toString().length*10 + 'px)'">{{statData.max}}</span>
    </div>
  </div>
  <div class="not-improve-bar" *ngIf="!isImprovement">
    <div [style.width]="(baseWidth-changeWidth)+'%'" class="section base">
      
    </div>
    <div [style.width]="changeWidth+'%'" class="section deprove">

    </div>
    <div [style.width]="(100-baseWidth)+'%'" class="section remaining">

    </div>
  </div>
  <div class="description-bar">

  </div>
</div>