.improve-bar, .not-improve-bar {
    height: 3vh;
    width: calc(100% - 25px);
    display: flex;
    border: 2px solid darkgray;
    margin-left: 25px;
}
.label{
  color:lightslategray;
  font-size: 15px;
}
.section {
    display: inline-block;
    height: 100%;
}

.improve {
    background-color: #2ECC40;
    //background: linear-gradient(90deg, rgb(204, 46, 67),rgb(8, 165, 24) )
}

.base {
    background-color: #0074D9
}

.remaining {
    background-color: #DDDDDD
}

.deprove {
    background-color: #FF4136
}

.title {
    margin-bottom: 10px;
}

.data-point {
    position: relative;
    top: 25px;
    left: -5px;
}

.data-point-end {
    position: relative;
    top: 25px;
    left: calc(100% - 30px);
}

.stat-icon {
    position: relative;
    top: .5rem;
    left: 5%;
}

.change {
    position: relative;
    left: 5%;
}