<div class="flex flex-column outer">
  <div class="flex">
    <header class="tc ph4" class="pa1">
      <h1 class="f3 f2-m f1-l fw2 black-90 mv3">Lives you've changed</h1>
      <!-- <h2 class="f5 f4-m f3-l fw2 black-50 mt0 lh-copy"> subtitle stuff</h2> -->
    </header>
  </div>
  <div>
    <nav class="bt bb tc mw7 center mt4">
      <a class="f6 f5-l link bg-animate black-80 hover-bg-lightest-blue dib pa3 ph4-l" (click)="changeSection(0)">Happiness Levels</a>
      <a class="f6 f5-l link bg-animate black-80 hover-bg-light-green dib pa3 ph4-l" (click)="changeSection(1)">Location</a>
      <a class="f6 f5-l link bg-animate black-80 hover-bg-light-blue dib pa3 ph4-l" (click)="changeSection(2)">Age Range</a>
      <a class="f6 f5-l link bg-animate black-80 hover-bg-light-pink dib pa3 ph4-l" (click)="changeSection(3)">Gender</a>
      <!-- <a class="f6 f5-l link bg-animate black-80 hover-bg-light-yellow dib pa3 ph4-l" (click)="changeSection(4)">Feedback</a> -->
    </nav>
  </div>
  <!-- <a class="f6 link dim br2 ba ph3 pv2 mb2 dib dark-blue" href="#0">Button Text</a> -->

  <div *ngIf="section == 0" class="flex graph-div">
    <div style="display: block" class="w-50">
        <p align="center" class="black-50"> Pre-call</p>
      <canvas baseChart [colors]="chartColors" [data]="oldRateChartData" [labels]="oldRateChartLabels" [chartType]="oldRateChartType" (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)"></canvas>
    </div>
    <div style="display: block" class="w-50">
        <p align="center" class="black-50"> Post-call</p>
      <canvas baseChart [colors]="chartColors" [data]="newRateChartData" [labels]="newRateChartLabels" [chartType]="newRateChartType" (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>

  <!-- LOCATION -->
  <div>
    <div *ngIf="section == 1" style="display: block" class="w-100">
      <canvas baseChart [data]="locationChartData" [labels]="locationChartLabels" [chartType]="locationChartType" (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>

   <!-- AGE -->
   <div *ngIf="section == 2" >
      <div style="display: block">
        <canvas baseChart [data]="ageChartData" [labels]="ageChartLabels" [chartType]="ageChartType" (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>

  <!-- GENDER -->
  <div *ngIf="section == 3" >
    <div style="display: block">
      <canvas baseChart [data]="genderChartData" [labels]="genderChartLabels" [chartType]="genderChartType" (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>

  <div class="border-div"></div>
</div>