<div class="new-post flex flex-column bg-white shadow-2 br2">
  <div class="pa3 b bb b--light-gray">New Post</div>
  <div class="flex flex-column pa3">
    <div class="flex">
      <div class="w-40">What happened?</div>
      <input class="flex-auto" [(ngModel)]="whatHappened" type="text">
    </div>
    <div class="flex">
      <div class="w-40">How it went?</div>
      <input class="flex-auto" [(ngModel)]="howItWent" type="text">
    </div>
    <div class="flex">
      <div class="w-40">Problem Category<div>
        <select [(ngModel)]="whatWasTheProblem">
          <option *ngFor="let c of categories" [value]="c.category">{{c.category}}</option>
        </select>
      <!-- <input class="flex-auto" [(ngModel)]="whatWasTheProblem" type="text"> -->
    </div>
    <div class="flex pt2">
      <button class="w-100 bn f6 link dim br1 ph3 pv2 dib white outline-0 bg-blue hover-bg-light-blue hover-blue" (click)="onAddPostClick()">Submit</button>
    </div>
  </div>
</div>
