<div class="flex flex-column outline">
  <div class="flex outline">
    <div class="w-50">
      <gtc-feed></gtc-feed>
    </div>
    <div class="w-25">
      <gtc-graph></gtc-graph>
    </div>
    <div class="w-25">
      <gtc-graph></gtc-graph>
    </div>
  </div>
  <!-- <div class="w-50 flex flex-wrap">
    <div class="w-50 dib">
      <gtc-graph></gtc-graph>
    </div>
    <div class="w-50 dib">
      <gtc-graph></gtc-graph>
    </div>
    <div class="w-100">
    </div> -->
  <div class="flex outline bottom tc">
    <div class="w-100">
      <gtc-footer></gtc-footer>
    </div>
  </div>
</div>
  <div class="w-50">
    <gtc-graph></gtc-graph>
    <gtc-personal-stats></gtc-personal-stats>
  </div>

</div>
