<div class="flex flex-column">
  <div class="flex items-center justify-between bg-blue white pa2 f4">
    <div class="flex items-center">
      <i class="material-icons pa2">menu</i>
      <div class="pl2">Kid Help Phone</div>
    </div>
    <div class="flex items-center ttc ph4" *ngIf="user !== null">
      <div class="icon br-pill mr3 ba b--white" [ngStyle]="{'background-image': 'url(' + user.thumbnail + ')'}"></div>
      <div>{{user.name.first}} {{user.name.last}}</div>
    </div>
  </div>
  <div class="pa2">
    <router-outlet></router-outlet>
  </div>
</div>