.header, .footer{
  background-color:#0095C4;
}

.body-container{
  padding-bottom: 60px;
}

.icon{
  height: 27px;
}

.user-icon{
  background-repeat: no-repeat;
  background-size: cover;
  width: 40px;
  height: 40px;
}

.bottom{
  position: fixed;
  height: 50px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}