
@font-face {
  font-family: "customFont";
  src: url(../assets/fonts/kidsFont.otf);
}
@font-face {
  font-family: "customFontSimple";
  src: url(../assets/fonts/kidsFontSimple.ttf);
}

.customFont {
  font-family:"customFontSimple", Geneva, sans-serif;
}

.customFont{
  font-family:"customFont", Geneva, sans-serif;
}

.header, .footer{
  background-color:#0095C4;
}

.icon{
  height: 27px;
}

.user-icon{
  background-repeat: no-repeat;
  background-size: cover;
  width: 40px;
  height: 40px;
}

.bottom{
  position: fixed;
  height: 50px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}