<div class="pa2 flex flex-column">
  <div class="flex justify-between items-end pv3">
    <div class="f2">Daily Insights</div>
    <div class="flex items-center pointer bg-green hover-bg-light-green white pv1 ph3 br-pill f6" (click)="showNewPost()">
      <i class="material-icons pr1">add</i>
      ADD POST
    </div>
  </div>
  <gtc-modal [showNewPost]="isNewPostVisible" (onNewPostHide)="hideNewPost()">
    <gtc-new-post (onAddPost)="addNewItem($event)"></gtc-new-post>
  </gtc-modal>
  <div *ngFor="let feedItem of feedList">
    <gtc-feed-item [data]="feedItem"></gtc-feed-item>
  </div>
</div>